<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
  background-color: lightgrey;
}
table {
  border-spacing: 5px;
}
</style>
    <head>
      	{% if title %}
      	<title>{{ title }}</title>
      	{% else %}
      	<title>Project 2</title>
      	{% endif %}
    </head>
    <body>
        <div>
            <a href="/search">Search</a>
            <a href="/results">Results</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>